body {
    background-color: black;
}


.centre {
    text-align: center;
    color: white;
}

header {
    font-family: "Times New Roman";
	color: white;
	font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

p {
	font-family: "Times New Roman";
	color: white;
	font-weight: bold;
    font-size: x-large;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px 24px;
    margin-left: 20px;
    margin-right: 20px;
}

input {
    	font-family: "Times New Roman";
	color: black;
	font-weight: bold;
    font-size: x-large;
}

img {
    Padding: 20px;
}

.mes {
    color: white;
}