<html>
<head>
<title>Login BoomBird</title>
<link rel="stylesheet" type="text/css" href="../static/csspages.css">
<script type="text/javascript" src="../static/jscode.js"></script>
</head>
<body onload="SupprimerContenu()">
<header>Bonjour, veuillez entrer vos informations</header>
<form action="login2" method="post">
<p>Votre courriel: <input type="text" name="email"><br>
Votre mot de passe: <input type="password" name="hash"><br>
Votre Uid: <input type="text" name="Uid"><br>
Votre avatar: <input type="text" name="avatar"><br>
Votre age: <input type="text" name="age"><br>
Votre username: <input type="text" name="username"><br>
Votre nom: <input type="text" name="nom"><br>
</p><br>
<p>Utilisateur<input type="Checkbox" name="utilisateurcreateur" value="utilisateur" checked>
Createur<input type="Checkbox" name="utilisateurcreateur" value="createur">
</p>
    <div class="centre">
        <input type="submit" value="Identification" name="soumettre">
    </div>

</form>

{% if message %}
<div id="cadre">{{ message }}"</div>
{% endif %}


</body>
</html>