body {
    background-color: black;
}


.centre {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: red;
    text-align: center;
    font-size: xx-large;
}

.center2 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
    font-family: "Times New Roman";
	color: white;
	font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

p {
	font-family: "Times New Roman";
	color: white;
	font-weight: bold;
    font-size: x-large;
    text-align: center;
}

b {
    color: white;
}

button {
    font-size: 16px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    position: relative;
}


input {
    	font-family: "Times New Roman";
	color: black;
	font-weight: bold;
    font-size: x-large;
}

img {
    Padding: 20px;
}

.mes {
    color: white;
}


.menu{
display:flex;
padding:0;
justify-content :space-around;}

.menu li {
    list-style-type: none;
    color: white;
}

.menu a {
    display:block;
    margin:1.5rem;
}

/*https://juliencrego.com/astuces/creer-un-menu-horizontal-simplissime-en-css/*/

.Search{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}