<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/csspages.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: left">
    <a href="utilisateur.html" title="Back">Back</a>
</div>

    <h1>{{ profile.username }}</h1>
<p><img src="{{ url_for('static', filename=profile.avatar) }}" width="120" height="120" id="image"></p>
<p>Gifs de {{ profile.username }}</p>
{% for P in profile.pathsgifsuser %}
        <a href="gif.html?Gid={{P[1]}}" ><img src={{P[0]}} width="200" height="200" id="image"></a>
{% endfor %}
<p>Gifs favoris de {{ profile.username }}</p>
{% for P in profile.pathsgifsfavoris %}
        <a href="gif.html?Gid={{P[1]}}" ><img src={{P[0]}} width="200" height="200" id="image"></a>
{% endfor %}

</body>
</html>